.gridContainer {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.loader {
  margin-top: 40px;
  font-size: 2.5rem;
  color: #ffff;
  font-family: "Sacramento", cursive;
}

.searchContainer {
  width: 60%;
  max-width: 900px;
  column-width: 250px;

  column-gap: 10px;
}

.searchContainer img {
  border-radius: 5px;
  margin-top: 5px;
  width: 100% !important;
  background-color: rgb(255, 0, 119);
}

.searchContainer a:nth-child(even) img {
  background-color: rgb(0, 119, 255);
}

@media (orientation: portrait) {
  .searchContainer {
    width: 100%;
  }
}
@media screen and (max-width: 1340px) {
  .searchContainer {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .searchContainer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .searchContainer {
    column-width: 200px;
  }
}
@media screen and (max-width: 540px) {
  .searchContainer {
    column-width: 150px;
    column-gap: 5px;
  }
  .searchContainer img {
    margin-top: 0;
  }
}
